<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Job</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/dashboard" class="btn">Back</a>
        <a href="/logout" class="btn">Logout</a>
    </nav>
    <h1>Edit {{job.title}}</h1>
    <form action="/job/update" method="post">
        {% with messages = get_flashed_messages() %}     
            {% if messages %}                            
                {% for message in messages %}            
                    <p>{{message}}</p>                   
                {% endfor %}
            {% endif %}
        {% endwith %}
        <input type="hidden" name="id" value="{{job.id}}">
        <label>Title:
            <br><input type="text" name="title" value="{{job.title}}">
        </label>
        <label>Description:
            <br><textarea name="description" cols="30" rows="10">{{job.description}}</textarea>
        </label>
        <label>Location:
            <br><input type="text" name="location" value="{{job.location}}">
        </label>
        <input type="submit" value="Update" class="btn">
    </form>
</body>
</html>